@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500;600;700&family=Josefin+Sans:wght@300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600&family=Edu+TAS+Beginner:wght@400;500;600&family=Indie+Flower&family=Josefin+Sans:wght@200;300;400;500;600&display=swap');

html,
body,
:root {
  height: 100%;
  /* font-family: 'Josef'; */



}


* {

  overflow: hidden;
  font-family: 'Edu TAS Beginner', cursive;
  font-weight: 400;
  font-family: 'Josefin Sans', sans-serif;
}